<div class="right">
  <% content_for :search do %>
    <div class="col-md-9">
      <%= search_form_for @search do |f| %>
        <%= f.text_field :name_cont, class: "form-control", placeholder: t("titles.categorysearch") %>
        <div class="col-md-3">
          <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
  <% end %>
</div>
